<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>property</servlet-name>
        <servlet-class>property</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageuploader</servlet-name>
        <servlet-class>imageuploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlog</servlet-name>
        <servlet-class>adminlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dealer</servlet-name>
        <servlet-class>dealer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dealerlog</servlet-name>
        <servlet-class>dealerlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dealerdatabase</servlet-name>
        <servlet-class>dealerdatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>property</servlet-name>
        <url-pattern>/property</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageuploader</servlet-name>
        <url-pattern>/imageuploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlog</servlet-name>
        <url-pattern>/adminlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dealer</servlet-name>
        <url-pattern>/dealer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dealerlog</servlet-name>
        <url-pattern>/dealerlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dealerdatabase</servlet-name>
        <url-pattern>/dealerdatabase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
